@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body,
#root {
  overflow: hidden;
  font-family: sans-serif;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: azure;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
}

h1 {
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 2.6rem;
  margin-bottom: 20px;
  color: #043040;
  z-index: 10;
  text-align: center;
}

button {
  cursor: pointer;
  border: none;
  background-color: none;
  display: block;
}

#main-container {
  width: 93%;
  margin: 50px auto;
  overflow: hidden;
}

@media (min-width: 765px) {
  #main-container {
    width: 35rem;
  }
}
